<nav class="navbar navbar-light" style="background-color: rgb(222, 189, 227)">
  <div class="container-fluid">
    <img
      [src]="korisnik.slikaPutanja"
      height="30px"
      width="30px"
      (click)="profilna()"
    />
    <form class="d-flex input-group w-auto">
      <button class="btn btn-primary me-3" (click)="pocetna()">
        Pocetna strana
      </button>
      <button
        type="button"
        class="btn btn-primary px-3 me-2"
        (click)="odjava()"
      >
        Odjava
      </button>
    </form>
  </div>
</nav>
<div id="registraciona_forma">
  <form [formGroup]="forma" (submit)="registruj()">
    <div>
      <input
        type="text"
        formControlName="naziv"
        placeholder="Naziv"
      />
    </div>
    <div>
      <input type="text" formControlName="autori" placeholder="Naziv/i autora(razdovejni ',')" />
    </div>
    <div>
      <span>Zanrovi:</span>
      <select formControlName="zanrovi" multiple>
        <option value="horor">horor</option>
        <option value="drama">drama</option>
        <option value="ljubavni roman">ljubavni roman</option>
        <option value="novela">novela</option>
        <option value="roman">roman</option>
        <option value="biografija">biografija</option>
    </select>
    </div>
    <div>
      <input type="text" formControlName="izdavac" placeholder="Izdavac" />
    </div>
    <div>
      <input
        type="text"
        formControlName="godina"
        placeholder="Godina"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="jezik"
        placeholder="Jezik"
      />
    </div>
    <div>
      <button
        type="button"
        (click)="filepicker.click()"
        class="btn btn-primary"
      >
        Prilozi sliku
      </button>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Registruj se</button>
    </div>
    <div>
      <input type="file" #filepicker (change)="IzabranaSlika($event)" />
    </div>
    <div class = "image-preview" *ngIf="izabranaSlika!=null">
    <img [src]= "izabranaSlika" [alt]= "forma.value.name">
  </div>
  </form>

</div>
